# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Data files
*.csv
*.tsv
*.parquet
*.avro
*.orc
*.log
*.jsonl

# Airflow
airflow_logs/
dags/__pycache__/

# dbt
target/
dbt_packages/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
